a,
button {
    font-weight: 600;
}

button {
    border-radius: 24px;
}

.profile-picture {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid #333;
    transition: transform 0.2s ease;
}

.profile-link:hover .profile-picture {
    transform: scale(1.1);
}

.profile-link:hover i {
    transform: scale(1.1);
    transition: transform 0.2s ease;
}

.navbar .btn.btn-secondary {
    background-color: rgb(154, 47, 255);
    border-color: rgb(154, 47, 255);
    transition: background-color 0.2s ease;

    &:hover {
      background-color: darken(rgb(154, 47, 255), 8%);
    }

    &:active {
      background-color: darken(rgb(154, 47, 255), 12%);
    }
  }
.cl-burger-img {
  width: 24px;
  height: 24px;
  display: block;
  transition: transform 0.2s ease;
  transform-origin: center center;
}

.cl-burger-img.rotated {
  transform: rotate(90deg);
}