<div class="bg-dark">
    <div class="container px-4 py-4">
        <h2 class="text-light mt-2 mb-4">Dashboard</h2>
        <p class="text-light">Here is a report about questions, users, sessions.</p>
        <div class="d-flex flex-row gap-4 text-center mt-2">
            <div class="bg-dark rounded-2 px-4 py-4 border border-primary w-100">
                <h5 class="text-primary">Total number of questions</h5>
                <h3 class="text-light">17</h3>
            </div>

            <div class="bg-dark rounded-2 px-4 py-4 border border-primary w-100">
                <h5 class="text-primary">Total users registered</h5>
                <h3 class="text-light">513</h3>
            </div>

            <div class="bg-dark rounded-2 px-4 py-4 border border-primary w-100">
                <h5 class="text-primary">Sessions this week</h5>
                <h3 class="text-light">46</h3>
            </div>
        </div>
    </div>
</div>