<div class="question-container">
  <div class="question-card">
    <!-- PROGRESS -->
    <app-question-progress *ngIf="!isCompleted" [currentIndex]="currentIndex"
      [totalQuestions]="totalQuestions" [currentScore]="score"></app-question-progress>
    <ng-container *ngIf="isCompleted; else showQuestion">
      <app-result-summary 
        *ngIf="sessionSummary" 
        [sessionSummary]="sessionSummary">
      </app-result-summary>
    </ng-container>

    <!-- SHOW QUESTION -->
    <ng-template #showQuestion>
      <ng-container [ngSwitch]="questionType">
        <!-- Multiple Choice -->
        <app-multiple-choice-question
          #multipleChoiceComponent
          *ngSwitchCase="'MultipleChoice'"
          [question]="$any(questionData)"
          [isSubmitted]="
            questionSubmitted || submittingAnswer || loadingQuestion
          "
          [wasCorrect]="isCorrect"
          (answerSubmitted)="onAnswer($event)"
          (nextQuestionEvent)="loadNextQuestion()"
        >
        </app-multiple-choice-question>

        <!-- Code Completion -->
        <app-code-completion-question
          #codeCompletionComponent
          *ngSwitchCase="'CodeCompletion'"
          [question]="$any(questionData)"
          [isSubmitted]="
            questionSubmitted || submittingAnswer || loadingQuestion
          "
          (answerSubmitted)="onCodeAnswer($event)"
        >
        </app-code-completion-question>
      </ng-container>

      <!-- NEXT QUESTION BUTTON -->
      <div class="submit-section" *ngIf="questionSubmitted">
        <button
          *ngIf="questionSubmitted"
          type="button"
          class="btn btn-submit"
          (click)="loadNextQuestion()"
        >
          <i class="bi bi-arrow-right-circle-fill"></i>
          Next Question
        </button>
      </div>

      <div *ngIf="loadingQuestion" class="loading-overlay">
        <span>Loading next question...</span>
      </div>
    </ng-template>
  </div>
</div>