<footer class="bg-primary text-dark pt-4">
    <div class="container">
        <div class="d-flex flex-column align-items-center">

            <!-- Brand section -->
            <div class="mb-2 md-2">
                <img src="/assets/brand/codelingo_logo_black.svg" alt="Logo" routerLink="landing-page" width="186"
                    class="mb-1">
            </div>
            <!-- Links section -->
            <div class="my-1 text-center ">
                <ul class="list-unstyled d-flex flex-column gap-2">
                    <li><a routerLink="landing-page" class="text-dark text-decoration-none">
                            Home</a></li>
                    <li><a routerLink="practice/start" class="text-dark text-decoration-none "
                            [appTooltip]="(isLoggedIn$ | async) ? '' : 'Please log in to start practicing!'"
                            [class.disabled-link]="!(isLoggedIn$ | async)" (click)="handlePracticeClick($event)">
                            Practice</a></li>
                    <li><a routerLink="leaderboard" class="text-dark text-decoration-none">
                            Leaderboard</a></li>
                </ul>
            </div>
            <div class="my-1">
                <h5>
                    <a href="https://github.com/bprof-spec-codes/codelingo" target="_blank" class="text-dark ms-2">
                        <i class="bi bi-github"></i>
                    </a> Follow us
                </h5>
            </div>
            <p class="text-dark">© 2025 Codelingo Team</p>
        </div>

    </div>
</footer>