<footer class="bg-primary text-dark pt-4">
    <div class="container">
        <div class="row">
            <div class="col-md-4 mb-3">
                <img src="/assets/brand/codelingo_logo_black.svg" alt="Logo" routerLink="/" width="186">
                <p class="text-dark my-2">© 2025 Codelingo Team</p>
            </div>
            <div class="col-md-4 mb-3">
                <h5>Links</h5>
                <ul class="list-unstyled">
                    <li><a href="#" class="text-dark text-decoration-none">
                            <i class="bi bi-house-door-fill me-2"></i>Home</a></li>
                    <li><a href="#" class="text-dark text-decoration-none">
                            <i class="bi bi-arrow-right-circle-fill me-2"></i>Practice</a></li>
                    <li><a href="#" class="text-dark text-decoration-none">
                            <i class="bi bi-star-fill me-2"></i>Leaderboard</a></li>
                </ul>
            </div>
            <div class="col-md-4 mb-3">
                <h5>Follow us</h5>
                <a href="#" class="text-dark me-3"><i class="bi bi-github"></i></a>
            </div>
        </div>
    </div>
</footer>