.app-shell-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.app-main-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    background-color: #121212;
    color: #e0e0e0;
}