.placeholder-white::placeholder {
    color: #a0a0a0;
    opacity: 0.8;
}

.placeholder-white::-webkit-input-placeholder {
    color: #a0a0a0;
    opacity: 0.8;
}

.placeholder-white:-ms-input-placeholder {
    color: #a0a0a0;
}

.placeholder-white::-ms-input-placeholder {
    color: #a0a0a0;
}